.advantages__list {
  display: flex;
}

.advantages__item {
  display: flex;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.advantages__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-left: 14px;
  width: 90px;
}
