.btn {
  font-weight: 800;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 21px 41px 21px 41px;
  background-color: $yellow;
  border: none;
  border-radius: 100px;
  cursor: pointer;

  &:hover {
    background-color: $dark-yellow;
  }

  &--theme--transparent {
    background-color: transparent;
    color: $white;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 21px;

    &:hover {
      color: $yellow;
      background-color: transparent;
    }
  }
}
