.btn {
  font-weight: 800;
  font-size: rem(16px);
  line-height: rem(18px);
  text-transform: uppercase;
  padding: rem(21px) rem(41px) rem(21px) rem(41px);
  background-color: $yellow;
  border: none;
  border-radius: rem(100px);
  cursor: pointer;

  &:hover {
    background-color: $dark-yellow;
  }

  &--theme--transparent {
    background-color: transparent;
    color: $white;
    font-size: rem(18px);
    line-height: rem(22px);
    font-weight: 400;
    text-transform: capitalize;
    padding: rem(21px);

    &:hover {
      color: $yellow;
      background-color: transparent;
    }
  }
}
