.contacts {
  margin-left: 47px;
  color: $white;
  font-size: 22px;
  line-height: 18px;
  font-style: unset;
  font-weight: 700;
}

.contacts__phone {
  display: flex;
  align-items: center;
}

.contacts__icon {
  width: 13px;
  height: 14px;
}
