.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
}

.header-nav__item {
  margin-right: 22px;

  &:last-child {
    margin-right: 0;
  }
}

.header-nav__item a{
  color: $white;
  font-weight: 700;
}
