.map {
  background-image: url(../img/map.jpg);
  background-color: $light-blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: 650px;
}
