.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &--overlay {
    flex-direction:column;
    align-items: center;
    font-size: rem(36px);
    line-height: rem(72px);
    font-weight: 400;

    .nav__item {
      margin-right: 0;
    }
  }
}

.nav__item {
  margin-right: rem(22px);
  margin-bottom: rem(10px);

  &:last-child {
    margin-right: 0;
  }
}

.nav__item a{
  color: $white;
  font-weight: 700;
}
