.product-slider {
  display: flex;
  align-items: center;
}

.product__wrapper {
  overflow: hidden;
}

.product {
  display: flex;
  min-width: 100%;
  margin-left: rem(40px);

  &:first-child {
    margin-left: 0;
  }

  @include tablet {
    flex-direction: column;
    text-align: center;
  }
}

.product__list{
  display: flex;
  position: relative;
  transition: right .3s
}

.product__column {
  flex: 1;
  margin-right: rem(60px);

  &:last-child {
    margin-right: 0;
  }

  @include tablet {
    margin-right: 0;
  }
}

.product-slider__errow-left {
  content: url(../img/left.svg);
  margin-right: rem(69px);

  @include tablet {
    margin-right: 0;
  }
}

.product-slider__errow-right {
  content: url(../img/right.svg);
}

.product__info {
  margin-bottom: rem(24px);

  &:last-child {
    margin-bottom: 0;
  }

  @include phone {
    margin-bottom: rem(22px);
  }
}

.product__photo {

  @include tablet {
    display: inline-block;
  }

  @include phone {
    max-height: rem(330px);
  }
}

.product__info-row {
  display: flex;
  flex-direction: row;

  @include tablet {
    justify-content: space-around;
  }
}

.product__size {
  margin-right: rem(55px);

  &:last-child {
    margin-right: 0;
  }

  @include tablet {
    margin-right: 0;
  }
}

.product__size-title {
  color: $gray;
}

.product__size-description {
  color: $black;
  font-weight: 700;
  line-height: rem(22px);
}

.product__title {
  font-weight: 700;
  font-size: rem(36px);
  line-height: rem(43px);
  text-transform: uppercase;
  margin-bottom: rem(24px);

  @include phone {
    margin-bottom: rem(12px);
  }
}

.product__text {
  color: $gray;
  width: 95%;

  @include tablet {
    width: 100%;
  }
}

.product__price {
  display: flex;
  font-weight: 300;
  font-size: rem(60px);
  line-height: rem(60px);
  margin-right: rem(55px);
  flex-shrink: 0;

  @include tablet {
    margin-right: 0;
  }
}

.product__icon {
  width: rem(38px);
  height: rem(38px);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $white;
}

.product__button {
  display: inline-block;
  position: relative;
  color: $white;
  width: rem(91px);
  height: rem(91px);
  border-radius: 4px;
  background-color: $blue;
  cursor: pointer;
  border: none;

  p {
    padding-top: 55px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
  }

  &:hover {
    background-color: $extra-light-blue;
  }

  @include tablet {
    display: none;
  }
}
