.social__list {
  display: flex;
  justify-content: space-between;
  margin-top: rem(38px);

  @include phone {
    margin-top: rem(16px);
    justify-content: center;
  }
}

.social__item {
  margin-right: rem(14px);

  &:last-child {
    margin-right: 0;
  }
}

.test {
  background-color: black;
  outline: 5px solid red;
  width: 50px;
  height: 50px;
}
