.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;

  @include tablet {
    align-items: center;
    background-color: $light-blue;
    height: rem(82px);
    position: absolute;
    width: 100%;
    left: 0;
  }
}

.header__nav {
  padding-top: 7px;
  @include tablet {
    display: none;
  }
}

.header-nav__list {
  display: flex;
  justify-content: space-between;
}

.header-nav__item {
  margin-right: rem(22px);

  &:last-child {
    margin-right: 0;
  }
}

.header-nav__item a{
  color: $white;
  font-weight: 700;
}

.header__contacts {
  @include tablet {
    display: none;
  }
}
